.menu {
  max-width: 14rem;
  right: 0px;
  border-radius: 8px;
  padding: 20px;
  border: 1px solid var(--secondary-color);
  overflow: hidden;
  white-space: nowrap;
  transition: 0.4s transform, 0.6s flex;
  flex: 0;

  &.active {
    flex: 1;
    transform: translateX(120px);
  }

  &.disabled {
    transform: translateX(calc(-100% - 20px));
  }

  h2 {
    width: max-content;
    margin: 0;
  }

  &__close-btn {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 0 !important;
    border: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    opacity: 0.5;

    transition: 0.2s opacity !important;

    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;

    &:hover {
      opacity: 1;
    }

    svg {
      width: 30px;
      height: 30px;
    }
  }
}

@media screen and (max-width: 900px) {
  .menu {
    top: 50%;
    left: 50%;
    z-index: 4;
    background-color: var(--background-color);
    position: absolute;
    width: 100%;
    flex: unset;
    transition: 0.4s opacity;

    &.active {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }

    &.disabled {
      z-index: -1;
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.6);
    }

    &__background {
      overflow: hidden;
      z-index: 3;
      position: absolute;
      width: 100%;
      height: 100vh;
      backdrop-filter: blur(5px);
      background-color: rgba(0, 0, 0, 0.4);
    }
  }
}
