.controls {
  width: 100%;
  display: flex;
  align-self: center;
  justify-content: space-between;
  gap: 0.5rem;

  &__small-btns {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__small-btn {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__restart-btn {
    width: max-content;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__menu-btn {
    padding: 5px;
  }

  &__history-btn {
    padding: 12px;
  }
}
