.game {
  position: relative;
  display: flex;
  align-items: center;
  color: var(--primary-color);

  &__wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;

    background-color: var(--background-color);
    z-index: 3;
  }

  .status {
    text-align: center;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
}

@media screen and (max-width: 1200px) {
  .game {
    margin-right: 20%;
  }
}

@media screen and (max-width: 1000px) {
  .game {
    margin-right: 0;
  }
}

@media screen and (max-width: 800px) {
  .game {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0;
  }
}
