.game {
  position: relative;
  max-width: max-content;

  &__wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;

    background-color: #323437;
    z-index: 3;
  }

  &__btn {
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
    background-color: unset;
    border: 1px solid #646669;
    color: #d1d0c5;
    font-size: 18px;

    transition: 0.2s border;

    &:hover {
      border: 1px solid #d1d0c5;
    }
  }

  .controls {
    display: flex;
    gap: 20px;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;

  .score-bar {
    text-align: center;
    max-width: 400px;
    width: 100%;
    border-spacing: 10px;
    font-weight: 500;

    &__cell {
      padding: 10px 20px;
      border: 1px solid #646669;
      border-radius: 8px;
      transition: 0.2s border, 0.2s box-shadow;

      &-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      &.active {
        border: 1px solid #d1d0c5;
        box-shadow: 4px 4px 22px 0px rgba(0, 0, 0, 0.2);
      }

      &.win {
        animation: winner 1s;
      }
    }
  }

  @keyframes winner {
    0%,
    100% {
      scale: 1;
      rotate: 0deg;
      border: 1px solid #646669;
    }
    50% {
      scale: 1.1;
      border: 2px solid #4f9725;
    }
  }
}

.results {
  z-index: -1;
  opacity: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #323437ea;
  backdrop-filter: blur(4px);

  display: flex;
  align-items: flex-end;
  justify-content: center;
  transition: 0.2s opacity;

  &.draw {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  &.active {
    z-index: 1;
    animation: display-results 0.4s;
    animation-delay: 1.4s;
    animation-fill-mode: forwards;

    &.draw {
      animation: display-results 0.4s;
      animation-delay: 0.3s;
      animation-fill-mode: forwards;
    }
  }

  &__text {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.875rem;
    color: #e2b714;
    margin-bottom: 5rem;
  }

  &__draw {
    svg {
      width: 100px;
      height: 100px;
    }
  }

  @keyframes display-results {
    to {
      opacity: 1;
    }
  }
}

.steps {
  padding: 10px 16px;
  border-radius: 8px;
  border: 1px solid #646669;
  max-height: 25rem;
  overflow: auto;

  top: 60%;
  right: 0;

  position: absolute;
  transform: translateX(0px) translateY(-50%);

  transition: 0.2s all;

  h2 {
    margin-top: 0;
  }

  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__item {
    list-style: none;
    cursor: pointer;

    &-move {
      text-decoration: none;
    }

    &-description {
      text-decoration: underline;
    }
  }

  &.active {
    transform: translateX(150%) translateY(-50%);
    z-index: 2;
  }
}

@media screen and (max-width: 1100px) {
  .game {
    margin-right: 20%;
  }
}

@media screen and (max-width: 800px) {
  .game {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0;
  }
  .steps {
    bottom: 0;
    right: unset;
  }
  .steps.active {
    transform: translateX(0%) translateY(110%);
  }
}
